// --------------- media queries --------------------

// tablets

// --------- 1400px --------------
@media (max-width: 1400px) {
  :root {
    #step {
      height: 800px;
    }

    .box {
      margin-top: 100px;
    }
    .seperator {
      margin: 0;
    }
  }
  .contact .container .text {
    margin-top: $margin-main-title;
  }
}

// ----------- 1380px --------------
@media (max-width: 1380px) {
  .contact {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 1280px) {
  header {
    height: 800px;
    .header-content {
      .text p {
        max-width: 90%;
      }
      .header-banner {
        img {
          width: 530px;
        }
      }
    }
    .home-bg-shape {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .step-1 .shapes {
    transform: scale(0.65) !important;
  }
}

// ---------- 1200px --------------

@media (max-width: 1200px) {
  .contact {
    .container {
      .bottom-content {
        flex-direction: column;

        .message {
          width: 45%;
          margin-right: 0;
          margin-bottom: 40px;
          height: 400px;
          &::after {
            top: calc(100% + 40px);
            left: 0;
            right: 0;
            height: 3px;
            width: 100%;
          }
        }
        .newsletter-and-info {
          margin-top: 40px;
          width: 75%;
        }
      }
    }
  }
}
// ---------- 1100px -------------
@media (max-width: 1100px) {
  header {
    .header-content .text .buttons {
      width: calc(100% + 100px);
    }
    .home-bg-shape {
      top: 0;

      img {
        width: 825px;
        height: auto;
      }
    }
  }
}

// ------------ nomral tablet size -------------

@media (max-width: 1024px) {
  :root {
    .title {
      font-size: 2.5rem;
    }
    #step {
      .container {
        .content {
          .image img {
            width: 440px;
            height: auto;
          }
          .text {
            font-size: 1.6rem;
          }
        }

        .slides {
          padding: 120px 0;
          span {
            width: 30px;
            height: 30px;
            font-size: 14px;
          }
          &::after {
            width: 160px;
          }
        }
      }
      .shapes {
        transform: scale(0.7);
      }
    }
  }
  header {
    height: 700px !important;
    .header-content {
      .header-banner {
        img {
          width: 480px;
        }
      }
      .text {
        .main-title {
          font-size: 4.5rem;
        }
        p {
          font-size: 1rem;
        }
        .buttons .header-btn {
          font-size: 14px;
        }
      }
      .header-banner {
        margin-right: -30px;
      }
    }
  }

  .step-2,
  .step-3 {
    .container {
      .content .image img {
        width: 470px;
      }
    }
  }

  .step-2 {
    .container .content .image {
      margin-top: -20px;
      img {
        width: 500px !important;
      }
    }
    .shapes {
      transform: scale(0.8) !important;
      left: -7% !important;
    }
  }

  .step-3 {
    .shapes {
      transform: scale(0.6) !important;
      left: -6% !important;
    }
  }

  .contact {
    .container {
      .title {
        width: 100%;
      }

      .bottom-content .message {
        width: 65%;
      }

      .banner img {
        width: 600px;
        height: auto;
        object-fit: cover;
      }
    }
  }
  footer {
    .container {
      .left-content {
        .copy-right {
          font-size: 14px;
        }
      }
      .right-content {
        span {
          font-size: 14px;
        }
      }
    }
  }
}

// -------------  992px ------------
@media (max-width: 992px) {
  header {
    .header-content .header-banner {
      img {
        width: 450px;
      }
    }
    .home-bg-shape {
      left: 25%;
    }
  }
}

// -------------- 930px -------------------

@media (max-width: 930px) {
  header {
    height: 720px !important;
  }
}

@media (max-width: 845px) {
  header .header-content .header-banner img {
    width: 420px;
  }
}

// small tablet size

@media (max-width: 800px) {
  :root {
    .title {
      font-size: 2.2rem;
    }
    #step {
      .container {
        .box {
          width: 90%;
          margin-left: 10%;
          .navigator .slide-number {
            width: 50px;
            height: 50px;
          }
          .icon {
            width: 70px;
            height: 50px;

            img {
              height: 35px;
              width: 35px;
            }
          }
          .arrows img {
            width: 20px;
            height: 20px;
          }
        }
        .content {
          .text p {
            &::after {
              width: 250px;
            }
          }
          .image img {
            width: 400px;
          }
        }
        .slides {
          padding: 135px 0;
          &::after {
            width: 150px;
          }
        }
      }
    }
    .step-btn {
      font-size: 12px;
    }
  }
  header {
    height: 700px !important;
    .header-content {
      position: relative;

      .text {
        width: 70%;

        .main-title {
          max-width: 100%;
        }

        p {
          max-width: 90%;
        }
        .buttons {
          width: calc(100% + 150px);

          .header-btn {
            font-size: 12px;
          }
        }
      }

      .header-banner {
        position: absolute;
        top: -10%;
        left: 70%;

        img {
          width: 550px;
        }
      }
    }
    .menu {
      .list {
        a {
          color: $text-color;
        }

        .active {
          &::after {
            background: $text-color;
          }
        }
      }
    }
    .home-bg-shape {
      display: none;
    }
  }

  .step-1 {
    .container .box .content .text {
      font-size: 1.4rem !important;
    }
    .shapes {
      left: -15%;
      transform: scale(0.5) !important;
    }
  }
  .step-2 {
    .container .box .content .text p {
      font-size: 1.2rem;
      width: 70%;
      margin: 0 auto 30px auto;
    }
    .shapes {
      top: -3% !important;
      left: -10% !important;
    }
  }
  .step-3 {
    .container .box .content .text p {
      font-size: 1.4rem !important;
    }
    .shapes {
      transform: scale(0.5) !important;
      left: -11% !important;
      top: -10% !important;
    }
  }
  .contact {
    .container {
      .banner img {
        width: 500px;
      }
      .bottom-content {
        .message {
          width: 85%;
          background: #f2f2f2;
          height: 450px;
          justify-content: space-around;
        }
        .newsletter-and-info {
          width: 90%;
          background: #f2f2f2;

          .infos .info-list span {
            font-size: 12px;
          }
        }
      }
    }
  }
  footer .container {
    .left-content {
      .social-media-icons a {
        width: 15px;
        height: 15px;
      }
      .copy-right {
        font-size: 12px;
      }
    }
    .right-content span {
      font-size: 12px;
    }
  }
  .up-to-top {
    width: 40px;
    height: 40px;

    img {
      width: 15px;
      height: 15px;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }
}

// ----------------

@media (max-width: 750px) {
  header .header-content .header-banner {
    left: 66%;
  }
}
@media (max-width: 694px) {
  .step-3 {
    height: 840px !important;
  }
}
@media (max-width: 680px) {
  header .header-content .header-banner {
    left: 62%;
  }
}

// large phone sizes

@media (max-width: 620px) {
  :root {
    .title {
      font-size: 2rem;

      h1::after {
        display: none;
      }
    }

    #step {
      .container {
        .title {
          margin-bottom: 60px;
        }
        .box {
          flex-direction: column;
          width: 80%;
          margin: 0 auto;

          .navigator {
            flex-direction: row;
            height: 250px;
            min-width: 90%;
            margin: 0 auto 50px auto;

            & > :not(:first-child) {
              margin-left: 15px;
              margin-top: 0;
            }

            .line {
              height: 2px;
              width: 0px;
            }

            .slide-number {
              width: 40px;
              height: 40px;
              font-size: 14px;
              font-weight: 700;
            }

            .icon {
              width: 50px;
              height: 40px;

              img {
                width: 25px;
                height: 25px;
              }
            }

            .arrows {
              transform: rotate(-90deg);
              margin-top: 3px;

              img {
                width: 15px;
                height: 15px;
              }

              &:hover {
                animation: none;
              }
            }
          }
          .content {
            margin: 0 0 70px 0;

            .image {
              margin-bottom: 40px;
              img {
                width: 370px;
              }
            }
          }
          .slides {
            flex-direction: row;
            padding: 0;
            min-width: 50%;
            margin: 0 auto;

            & > :not(:first-child) {
              margin-top: 0;
              margin-left: 15px;
            }

            .line {
              height: 2px;
              width: 0;
            }

            &::after {
              display: none;
            }
          }
        }
      }
    }
  }

  .mfp-header-active {
    height: 100vh !important;
  }
  header {
    .menu {
      .list {
        transform: translateX(110%);
        opacity: 0;
        z-index: -1;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        background: #fdfdfd;
        z-index: 1;
        padding-top: 140px;
        transition: transform 0s ease-in, opacity 0s ease-in;

        a {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          height: 100%;
          font-size: 1.5rem;
          position: relative;
          padding: 0 10%;
          opacity: 0.75;

          &:focus {
            background: none;
            outline: none;
          }

          &::after {
            content: "";
            position: absolute;
            border-radius: 10px;
            background: #5a5a5a !important;
            opacity: 0.5;

            top: 100% !important;
            left: -5% !important;
            width: 110% !important;
            height: 1px;
          }
        }

        .active {
          opacity: 1;

          &::after {
            opacity: 0.7;
          }
        }
      }

      .mfp-list-active {
        transform: translateX(0%);
        opacity: 1;
        transition: transform 400ms ease-out, opacity 500ms ease-out;
      }

      .menu-for-phone {
        display: block;
      }

      .mfp-active {
        left: 80%;
        transform: translateX(-80%);

        span {
          top: 10px;
          transform: rotate(45deg);
        }
        span::before {
          opacity: 0;
          transition: opacity 200ms ease-in 0s;
        }

        span::after {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }
    .mfp-header_menu-active {
      width: 100%;
      position: relative;
      z-index: 200;

      .logo {
        z-index: 99;
        margin-left: 20%;
      }

      .list {
        display: flex;

        a {
          color: $text-color;
        }
      }

      .menu-for-phone {
        margin-right: 20%;
      }
      .mobile-nav-bg {
        opacity: 1;
        pointer-events: all;
        z-index: 1;
        position: absolute;
        top: 0px;
        left: -5%;
        width: 110%;
        height: 100%;
        transition: opacity 1500ms ease-out;

        img {
          width: 100%;
        }
      }
    }

    .header-content {
      display: block;

      .text {
        width: 100%;

        .main-title {
          width: 60%;
          font-size: 4rem;
          line-height: 80px;
        }

        p {
          width: 70%;
        }

        .buttons {
          width: 90% !important;
          display: flex;
          justify-content: space-around;
        }
      }
      .header-banner {
        top: -6%;
        left: 110% !important;
        transform: translateX(-50%) !important;
        img {
          width: 480px;
        }
      }
    }
  }

  .step-1 {
    .container .box .content {
      .text {
        font-size: 1.3rem !important;
      }
    }

    .shapes {
      transform: scale(0.4) !important;
      top: 15%;
      left: -30%;
    }
  }

  .step-2 {
    height: 900px !important;
    .container .box .content {
      .image img {
        width: 400px !important;
      }
      .text p {
        font-size: 1rem;
      }
    }
    .shapes {
      transform: scale(0.65) !important;
      left: -15% !important;
    }
  }

  .step-3 {
    height: 900px !important;

    .container .box .content .text p {
      font-size: 1.3rem !important;
    }

    .shapes {
      transform: scale(0.4) !important;
      left: -15% !important;
      top: 0 !important;
    }
  }

  .contact {
    .container {
      width: 100%;
      .title {
        width: 80%;
        margin: 70px auto 60px auto;
      }

      .banner {
        width: 80%;
        margin: 0 auto;
        img {
          width: 450px;
        }
      }

      .bottom-content {
        .message {
          width: 100%;
          height: 400px;
          border-radius: 0;
          margin-bottom: 0;
          padding: 40px 0 20px 0;
          box-sizing: content-box;
          justify-content: space-between;

          &::after {
            width: 70%;
            left: 15%;
            top: calc(100% + 40px);
            background: #fff;
            z-index: 99;
            border-radius: 9px;
          }

          & > * {
            width: 80% !important;
            margin: 0 auto;
          }
        }

        .newsletter-and-info {
          margin-top: 0;
          flex-direction: column;
          width: 100%;
          border-radius: 0;
          height: auto;
          background: none;

          .newsletter {
            width: 100%;
            background: $primary-color;
            border-radius: 0;
            height: 250px;
            padding-top: 20px;
            box-sizing: content-box;

            p {
              color: #fff;
            }

            .wrapper-newsletter {
              .newsletter-input {
                background: #fff;

                &:focus {
                  background: #efefef;
                }
              }

              .newsletter-subscribe-btn {
                background: #72b77b;
              }
            }
          }

          .infos {
            background: #f7f7f7;
            height: 250px;
            padding: 20px 0;
            width: 100%;
            margin: 0 auto;

            .info-title {
              font-size: 1.2rem;
              margin-bottom: 10px;
            }
            .info-list {
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .left-content .copy-right {
        margin-right: 6rem;
      }
    }
  }
}

// ------------- 580px  ----------------------

@media (max-width: 580px) {
  header .header-content .header-banner img {
    width: 470px;
  }
}

// large phone sizes

@media (max-width: 540px) {
  :root {
    .title {
      font-size: 1.7rem;
    }
    #step .container {
      .box {
        .content {
          .text p::after {
            width: 200px;
          }
          .image img {
            width: 340px;
          }
        }

        .slides {
          & > :not(:first-child) {
            margin-left: 5px;
          }
        }
      }
    }
    .step-btn {
      font-size: 10px;
      width: 130px;
      height: 35px;
    }
  }
  header {
    .menu .list a {
      font-size: 1.35rem;
    }
    .header-content {
      .text {
        .main-title {
          font-size: 3.5rem;
        }
        p {
          line-height: 40px;
        }
      }
      .header-banner {
        img {
          width: 430px;
        }
      }
      .contact .container .banner img {
        width: 400px;
      }
    }
  }
  .step-1 {
    height: 750px !important;
  }

  .step-2 {
    height: 850px !important;
  }
  .step-3 {
    height: 780px !important;

    .container .box .content .text .step-3-btn {
      padding: 12px 40px;
    }
    .shapes {
      left: -17% !important;
    }
  }

  .contact .container .banner img {
    width: 400px;
  }
}

// -------- 550px -------------

@media (max-width: 500px) {
  .step-2 .shapes {
    left: -17% !important;
  }
}

// ------------- 480px ---------------

@media (max-width: 480px) {
  :root {
    .title {
      font-size: 1.6rem;
    }
    #step .container .box .content .image img {
      width: 320px !important;
    }
  }
  header {
    .menu {
      .mobile-nav-bg {
        img {
          transform: scaleY(1.5);
        }
      }
    }
    .header-content {
      .text {
        .main-title {
          font-size: 3.2rem;
          line-height: 70px;
        }
        p {
          font-size: 14px;
        }
      }
      .header-banner {
        top: -3%;
        img {
          width: 400px;
        }
      }
    }
  }
  .step-1 {
    .shapes {
      display: none;
    }
  }
  .step-2 {
    height: 800px !important;
    .container .box .content .image img {
      width: 370px !important;
    }
    .shapes {
      transform: scale(0.55) !important;
      left: -20% !important;
    }
  }

  .step-3 {
    .shapes {
      transform: scale(0.35) !important;
      left: -20% !important;
    }
  }
  .contact .container .banner img {
    width: 350px;
  }
  footer.content {
    .left-content .copy-right,
    .right-content span {
      font-size: 10px;
    }

    .left-content .social-media-icons a img {
      height: 15px;
      width: 15px;
    }
  }
}

// ---------------- 450px -----------------

@media (max-width: 450px) {
  :root {
    .title {
      width: 85%;
      font-size: 1.4rem;
    }

    #step {
      margin-top: 25px;
      .container {
        .title {
          margin: 0 auto 20px auto;
        }
        .box {
          height: 450px;
          .content {
            margin: 0 0 35px 0;
            .text p::after {
              top: -15px;
              left: 0;
              width: 100% !important;
              height: 1px;
            }
            .image img {
              width: 250px !important;
            }
          }

          .navigator {
            height: 100px;
            .slide-number {
              width: 30px;
              height: 30px;
            }
            .icon {
              width: 40px;
              height: 30px;

              img {
                width: 20px;
                height: 20px;
              }
            }
            .arrows {
              margin-top: 0;
              img {
                width: 13px;
                height: 13px;
              }
            }
          }
          .slides {
            width: 70%;
            span {
              width: 25px;
              height: 25px;
              font-size: 12px;
            }
          }
        }
      }
      .shapes {
        display: none;
      }
    }
    .step-btn {
      height: 30px;
      width: 120px;
      font-size: 8px;
    }
  }
  header {
    height: 475px !important;

    margin-bottom: 30px;
    .menu {
      margin: 0 auto 15px auto;
      .list {
        padding-top: 130px;
      }
      .mobile-nav-bg {
        img {
          transform: scaleY(1.7);
          height: 100%;
        }
      }
    }

    .header-content {
      .text {
        .main-title {
          font-size: 2.5rem;
          line-height: 50px;
        }

        p {
          width: 65%;
          font-size: 12px;
          line-height: 30px;
        }
        .buttons {
          margin: 0 auto;
          padding-top: 0;
          .learn_more-btn {
            margin-right: 0;
          }

          .header-btn {
            font-size: 10px;
            padding: 15px 30px;
          }
        }
      }
      .header-banner img {
        width: 300px;
      }
    }
  }
  .step-1 {
    height: 560px !important;
    .container .box {
      .navigator {
        margin: 0 auto 10px auto !important;
      }
      .content .text {
        font-size: 1rem !important;
      }
    }
  }
  .step-2 {
    height: 620px !important;

    .container .box {
      .navigator {
        margin: 25px auto 50px auto !important;
      }
      .content {
        .text p {
          font-size: 14px;
        }
        .image img {
          width: 300px !important;
        }
      }
    }
  }
  .step-3 {
    margin-top: 25px;
    height: 560px !important;

    .container .box {
      .navigator {
        margin: 0 auto 10px auto !important;
      }
      .content .text {
        p {
          font-size: 1rem !important;
        }
        .step-3-btn {
          padding: 10px 40px;
        }
      }
    }
  }
  .contact {
    margin-top: 25px;
    .container {
      .title {
        width: 85%;
        margin: 0 auto 10px auto;
      }
      .banner img {
        width: 100%;
      }
      .bottom-content .message {
        height: 350px;
      }
    }
  }
}

// -------------- 420px --------------

@media (max-width: 420px) {
  :root {
    .title {
      font-size: 1.3rem;
    }
  }
}

// -------------- 400px ----------------

@media (max-width: 400px) {
  header .menu {
    .list a {
      font-size: 1.2rem;
    }
    .mobile-nav-bg img {
      transform: scaleY(2);
    }
  }
  .step-1 .container .box .content .text {
    font-size: 14px !important;
  }
  .step-2 .container .box .content .text p {
    font-size: 12px;
    width: 80%;
  }
  .step-3 .container .box .content .text p {
    font-size: 14px !important;
  }

  .up-to-top {
    width: 35px;
    height: 35px;

    img {
      width: 15px;
      height: 15px;
    }
  }
}

// ---------------- 360px ------------------

@media (max-width: 386px) {
  .step-3 {
    height: 620px !important;
  }
}
@media (max-width: 360px) {
  header {
    .menu {
      .list {
        padding-top: 140px;
      }
      .mobile-nav-bg img {
        height: 130px;
      }
    }
    .header-content {
      .text {
        .main-title {
          font-size: 2.3rem;
        }
        p {
          line-height: 25px;
        }
        .buttons {
          width: 100% !important;

          .header-btn {
            padding: 13px 25px;
            font-size: 8px;
          }
        }
      }
      .header-banner {
        top: -6%;
      }
    }
  }

  .step-1 {
    height: 550px !important;
  }
  .step-2 {
    height: 600px !important;
  }
  .step-3 {
    height: 600px !important;
  }
}

// ------------------ 320px ---------------------

@media (max-width: 320px) {
  header {
    .menu {
      .list {
        padding-top: 150px;
      }
      .mobile-nav-bg img {
        height: 150px;
        transform: scaleY(2.2);
      }
    }
  }
}

// ------------ large sizes and heights -------------------------

@media (min-width: 1400px) and (min-height: 900px) {
  :root {
    #step {
      height: 800px;
    }

    .box {
      margin-top: 100px;
    }
    .seperator {
      margin: 0;
    }
  }
  header {
    .header-content {
      margin: 130px auto 0 auto;
    }
  }
  .contact .container .text {
    margin-top: $margin-main-title;
  }
}

// --------------- 1600px ---------------

@media (min-width: 1600px) and (min-height: 1000px) {
  header {
    height: 800px;
    .menu .list {
      width: 40%;
    }

    .header-content {
      margin: 125px auto 0 auto;
    }
    .home-bg-shape {
      height: 100%;

      img {
        height: auto;
      }
    }
  }
}

// ------------------ 1680px -----------------------

@media (min-width: 1680px) and (min-height: 1000px) {
  header {
    height: 100vh;

    .menu {
      width: 75%;

      .list {
        width: 60%;
        a {
          font-size: 1.2rem;
        }
      }
    }
    .header-content {
      width: 75%;
      margin: 200px auto 0 auto;

      .text {
        .main-title {
          line-height: 110px;
          font-size: 6rem;
        }

        .buttons .header-btn {
          padding: 22px 70px;
        }
      }

      .header-banner {
        margin-top: -40px;
        margin-right: 0;
        img {
          width: 680px;
        }
      }
    }

    .home-bg-shape {
      img {
        height: 100%;
      }
    }
  }
}

// --------------- 1920px --------------

@media (min-width: 1920px) and (min-height: 1080px) {
  header .menu .list {
    width: 50%;
  }
}

// -------------- 2560px -----------------

@media (min-width: 2560px) and (min-height: 1440px) {
  header {
    .menu .list {
      width: 50%;
    }
    .header-content {
      margin: 370px auto 0 auto;

      .text .main-title {
        font-size: 6.5rem;
      }

      .header-banner {
        margin-top: -80px;
        img {
          width: 800px;
        }
      }
    }
  }
}
