.home-page {
  background: #fdfdfd;

  header,
  #step,
  .contact,
  footer,
  .seperator {
    display: none;
  }
}

.home-page.loaded {
  header,
  #step,
  .contact,
  footer,
  .seperator {
    display: block;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: $secondary-color;
}

// ----------------- root ----------------
:root {
  .title {
    font-family: $secondary-font;
    font-size: 2.8rem;
    color: $text-color;
    text-transform: capitalize;
    width: 80%;
    margin: 0 auto;

    .h-title {
      position: relative;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + 20px);
        left: 70%;
        transform: translateX(-70%) scale(0);
        width: 50%;
        transform-origin: left;
        height: 3px;
        background: $text-color;
        opacity: 0.7;
        transition: transform 1.5s;
      }
    }

    .h-title.animate {
      &::after {
        transform: translateX(-70%) scale(1);
      }
    }
  }

  #step {
    margin-top: $margin-main-title;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    .container {
      .title {
        margin-bottom: $margin-main-title;
      }
      .box {
        width: 85%;
        margin-left: 15%;
        display: flex;
        justify-content: space-between;
        height: 500px;
        .navigator {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          font-family: $secondary-font;
          align-items: center;
          height: 550px;

          & > :not(:first-child) {
            margin-top: 15px;
          }

          .line {
            display: block;
            width: 2px;
            flex-grow: 1;
            background: #5a5a5a;
            border-radius: 9px;
            opacity: 0.8;
            transform-origin: 50% top;
          }

          .slide-number {
            font-size: 1.2rem;
            color: $text-color;
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50px;
            box-shadow: $navigators-box-shadow;
          }
        }

        .icon {
          width: 80px;
          height: 60px;
          background: #fff;
          border-radius: 6px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: $navigators-box-shadow;

          img {
            width: 40px;
            height: 40px;
          }
        }

        .arrows {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          animation: arrows-animation 1500ms infinite;
        }
      }

      .content {
        font-family: $primary-font;
        margin-left: -100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .image {
          margin-bottom: 20px;
          img {
            object-fit: cover;
            width: 470px;
            height: 400px;
          }
        }

        .text {
          max-width: 500px;
          text-align: center;
          color: $text-color;
          font-size: 1.8rem;
          span {
            font-weight: 700;
          }

          p {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              top: -20px;
              left: 70px;
              width: 300px;
              height: 3px;
              background: $text-color;
              border-radius: 10px;
              opacity: 0.7;
            }
          }
        }
      }
      .slides {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 100px 0;
        font-family: $secondary-font;

        & > :not(:first-child) {
          margin-top: 10px;
        }

        .line {
          width: 2px;
          flex-grow: 1;
          background: #5a5a5a;
          border-radius: 9px;
        }

        span {
          width: 35px;
          height: 35px;
          background: $primary-color;
          border-radius: 50px;
          color: #fff;
          font-size: 1rem;
          opacity: 0.7;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          position: relative;
          transition: opacity 400ms;
          margin-right: 10px;

          &:hover {
            opacity: 1;
          }
        }

        .active {
          box-shadow: $navigators-box-shadow;
          opacity: 1;
        }

        &::after {
          content: "";
          position: absolute;
          top: -40px;
          right: -30px;
          background-image: url(../images/slider-bg.svg);
          background-size: cover;
          background-repeat: no-repeat;
          width: 190px;
          height: 600px;
          z-index: -1;
        }
      }
    }
  }
  .shapes {
    position: absolute;
    top: 30%;
    left: -5%;
    z-index: -1;

    img {
      opacity: 0;
      transform-origin: 50% 50%;
    }
  }
  .step-btn {
    font-family: $button-font;
    padding: 12px 55px;
    text-decoration: none;
    background: $primary-color;
    border-radius: 50px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    transition: background 700ms;

    &:hover {
      background: $secondary-color;
    }
  }
}

// keyframes

@keyframes arrows-animation {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
