// ------------------- step-3 ---------------------

.step-3 {
  .container {
    .box {
      .content {
        .text {
          p {
            margin-bottom: 25px;
          }
          .step-3-btn {
            padding: 12px 55px;
            text-decoration: none;
          }
        }
      }
    }
  }
  .shapes {
    top: 0 !important;
    transform: scale(0.8);
    left: -3% !important;
  }
}
